.App {
  font-size: 16px;
}

.DarkMain {
  background-color: rgb(68, 66, 67);
  color: whitesmoke;
  transition: 0.5s;
}

.DarkMinor {
  background-color: rgb(128, 128, 134);
  color: whitesmoke;
  transition: 0.5s;
}

.LightMain {
  background-color: rgb(235, 235, 235);
  color: black;
  transition: 0.5s;
}

.LightMinor {
  background-color: whitesmoke;
  color: black;
  transition: 0.5s;
}

/* NAVBAR Section */


.Navbar {
  width: 100%;
  height: 10vh;
  box-shadow: 0 4px 4px -2px rgb(184, 183, 183);
}

.Navbar-inner {
  display: flex;
  width: 90%;
  height: 100%;
  margin: 0 5%;
  align-items: center;
  justify-content: space-between;
}

.Navbar h1 {
  margin: 0;
}

/* MAIN Section */

.Main-home-section {
  height: 100%;
  width: 100%;
}

.Home-outer-container {
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
}

.Home-form-container {
  width: 100%;
  height: 15vh;
}

.Form-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.Form-input-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border-radius: 0.3rem;
  height: 30%;
  width: 30%;
}

.Form-input-container p {
  display: flex;
  grid-column: 1 / 1;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.Form-input-container input {
  grid-column: 2 / 2;
  border: none;
  border-radius: 0.3rem;
  outline: none;
}

.Form-select-container {
  height: 2.5rem;
  width: 7.5rem;
}

.Form-select-container select {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  outline: none;
}


.Home-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;
  column-gap: 3rem;
  justify-items: center;
}

.Card-container {
  box-shadow: 0 4px 4px -2px rgb(184, 183, 183);
  border-radius: 10px;
  height: 24rem;
  width: 17rem;
}

.Card-container img {
  width: 100%;
  height: 12rem;
  border-radius: 10px 10px 0 0;
}

.Card-container-inner {
  width: 80%;
  margin: 0 10%;
}

.Card-container-inner ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.8rem;
}

.Card-container-inner span {
  font-weight: bold;
}



/* Country Side Page Section */

.Country-section-outer {
  height: 90vh;
}

.Country-section {
  height: 60vh;
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.Country-section-button {
  padding: 0.2rem 1rem;
  border: 0.15rem groove rgba(0, 0, 0, 0.1);
  border-radius: 0.1rem;
}

.Country-section-button:hover {
  border: 0.15rem groove rgba(0, 0, 0, 0.4);
  color: black;
}

.Back-button {
  border-radius: 0.3rem;
  padding: 0.4rem 1.5rem;
}

.Country-section-container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 5%;
  height: 70%;
  width: 100%;
}

.Country-section-container img {
  grid-column: 1 / 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Country-section-container-inner {
  grid-column: 2/2;
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  align-items: center;
  justify-items: start;
  line-height: 1.6rem;
  margin: 0;
}

.Country-section-container-inner ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.Country-section-container-inner span {
  font-weight: bold;
}

.Country-section-container-inner-leftlist {
  grid-area: 2 / 1 / span 1 / 1;
}

.Country-section-container-inner-rightlist {
  grid-area: 2 / 2 / span 1 / span 1;
}

.Country-section-container-inner-bottom {
  grid-area: 3 / 1 / span 1 / span 2;
  display: flex;
  margin: 0;
}

.Country-section-container-inner-bottom button {
  margin-left: 0.3rem;
}

/*MEIDA QUERIES SECTION */

@media only screen and (min-width: 1675px) {
  .Home-card-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 1350px) {
  .Home-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1015px) {
  .Home-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .Country-section {
    height:fit-content;
  }

  .Country-section img {
    height: 50%;
    width: 50%;
  }

  .Country-section-container {
    display: block;
    width: 100%;
  }

  .Back-button {
    margin: 5% 0;
  }
}

@media only screen and (max-width: 650px) {
  .Home-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .Country-section-outer {
    height: fit-content;
  }

  .Country-section img {
    height: 100%;
    width: 100%;
  }

  .Country-section-container-inner {
    display: block;
  }

  .Country-section-container-inner-leftlist {
    margin: 5% 0;
  }

  .Country-section-container-inner-rightlist {
    margin: 5% 0;
  }

  .Border-buttons-span {
    display: block;
  }

}

@media only screen and (max-width: 400px) {
  * {
    font-size: 14px;
  }

  .Form-select-container {
    height: 2.75rem;
    width: 9rem;
  }

}
